<h1 align="center">Services#next</h1>

<% services = Service.all %>

<% services.each do |service| %>
	<% if service.id >= 0 && service.id <= 9  %>
		<p><%  %></p>
	<% else %>
		<p><%= link_to("#{service.name}", "../sample_apps/#{service.url_path}") %></p>
	<% end %>
<% end %>
	

<%= link_to("Go Back", {:action => "display"}) %>

<% if Service.count > 18 %>
	<%= link_to("More Services", {:action => "next"}) %>
<% end %>