<% @main_title = "Administrative Functions" %>

<br />
<p><%= link_to 'MANAGE SERVICES', services_path, :class => "button small menu" %></p>
<p><%= link_to 'MANAGE ADMINISTRATORS', users_path, :class => "button small menu" %></p>
<p><%= link_to 'GENERATE REPORTS', '/reports/generate', :class => "button small menu" %></p>
<p><%= link_to 'UPDATE FACILITY LOCATION', locations_path, :class => "button small menu" %></p>
