body { 
  font-family: Ubuntu, Verdana, arial, Helvetica, sans-serif;
  color: black; 
  background-color: lightgrey;
  padding: 0;
  margin: 0;
}

#pagewrapper {
  width: 800px;
  max-height: 600px;
  margin: 10px auto;
  border: 1px #bbb solid;
  font-family: Ubuntu, Verdana, arial, Helvetica, sans-serif;
}

#footer {
  position: fixed; 
  top: 84%; 
  left: 40%; 
  right:10%;
}

#flash_notice {
  margin-top: 420px; 
  text-align: center; 
  color:green;
}

#header {
  margin: 0;
  padding: 0;
}

body, p, ol, ul, td {
  font-size:   18px;
  
}

h3, .para {
  padding-top: 10px;
  padding-left: 40px;
  text-align: left;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
  color: black;
}

h1, h2 {
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

#main {
  padding: 20px 10px;
}

p a {
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  
}

.space {
  margin-top: 100px;
  line-height: 50px;
}

/* button
---------------------------------------------- */
.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    cursor: pointer;
    text-align: center; 
    text-decoration: none;
    font: 20px ubuntu, Helvetica, sans-serif;
    padding: 1.5em 3.9em 1.5em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:active {
    position: relative;
    top: 1px;
}

.medium {
    color: #ffa; 
    font-size: 0.9em;
    font-weight: bold; 
    padding: 26px;
    min-width: 180px; 
    min-height: 25px;
    max-width: 180px; 
    max-height: 25px;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px rgba(0,1,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,1,0,.2);
    box-shadow: 0 1px 2px rgba(0,1,0,.2);
    margin-top: 8px;
    border-radius: 10px;
}

.small {
    font-size: 15px;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px rgba(0,1,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,1,0,.2);
    box-shadow: 0 1px 2px rgba(0,1,0,.2);
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 15px;
}

.smaller {
    font-size: 15px;
    text-align: justify;
    padding: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,1,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,1,0,.2);
    box-shadow: 0 1px 2px rgba(0,1,0,.2);
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 80px;
}

/* color styles
---------------------------------------------- */

/* blue */
.blue {
    border: solid 1px #0076a3;
    font-size: 20px;
    margin-left: 12px;
    background: #009531;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adcc), to(#0078aa));
    background: -moz-linear-gradient(top,  #00adff,  #007800);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

/*some color*/
.admin {
    color: black;
    border: solid 2.5px white;
    background: red;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 100px;
    font-size: 18px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff393c), to(#773ccc));
    background: -moz-linear-gradient(top,  #87ceeb,  #87cefa);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

/*modify buttons*/
.pvb {
    color: black;
    border: solid 2.5px lightgray;
    background: red;
    padding: 7px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff393c), to(#773ccc));
    background: -moz-linear-gradient(top,  #87ceeb,  #87cefa);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.next {
    margin-left: 385px; 
    margin-right: auto;
    color: black;
    border: solid 2.5px lightgray;
    background: red;
    padding: 12px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff393c), to(#773ccc));
    background: -moz-linear-gradient(top,  #87ceeb,  #87cefa);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.under {
    color: black;
    border: solid 1px background-color;
    background: red;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff393c), to(#773ccc));
    background: -moz-linear-gradient(top,  #87ceeb,  #87cefa);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.menu {
    color: white;
    font-size: 20px;
    text-align: center;
    border: solid 3px lightcyan;
    min-width: 120px;
    margin-left: 50px;
    margin-top: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 25px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff393c), to(#773ccc));
    background: -moz-linear-gradient(top,  #87ceeb,  #87cefa);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: ubuntu, 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 20px;
}

input[type=text], input[type=password] {
  margin-bottom: 10px;
  margin-top: 5px;
  padding-bottom: 8px;
  padding-top: 8px;
  color: #404040;
  text-align: left;
  background: whitesmoke;
  border: 1px solid;
  border-color: #7dc9e2;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  cursor: pointer;
  font-size: 16px;
  text-align: center; 
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px rgba(0,1,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,1,0,.2);
  box-shadow: 0 1px 2px rgba(0,1,0,.2);
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 20px;
  color: black;
  border: solid 2.5px lightgray;
  background: red;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 13px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff393c), to(#773ccc));
  background: -moz-linear-gradient(top,  #87ceeb,  #87cefa);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.field {
  margin-bottom: 18px;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  padding-bottom: 5px;
}

a {
  display: inline-block;
  *display: inline;
  vertical-align: baseline;
  text-align: center; 
  text-decoration: none;
  font: 20px/50% ubuntu, Helvetica, sans-serif;
  padding: 0.5em 1.3em 0.5em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 2px rgba(0,1,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,1,0,.2);
  box-shadow: 0 1px 2px rgba(0,1,0,.2);
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 15px;
  color: black;
  border: solid 2.5px lightgray;
  background: red;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff393c), to(#773ccc));
  background: -moz-linear-gradient(top,  #87ceeb,  #87cefa);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.paginate {
  padding-left: 200px;
  border-radius: 0.8em;
  margin: 15px;
  font-size: 22px;
}

.f {
  font-size: 16px;
  padding-top: 8px;
  font-weight: bolder;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
}

#location_description {
  font-family: ubuntu, 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 20px;
  min-width: 600px;
  max-width: 600px;
  min-height: 120px;
  max-height: 120px;
  color: #404040;
  background: whitesmoke;
  border: 1px solid;
  border-color: #7dc9e2;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

#username, #password {
  font-family: ubuntu, 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 22px;
  min-width: 380px;
  max-width: 380px;
  min-height: 25px;
  max-height: 25px;
}

#user_nav {
  float: right;
  font-size: 12px;
}

table.user {
  table-layout: fixed;
  width: 80%;
}

.field_with_errors {
  color: red;
  display: table;
}

#user_submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
}
