<table border= 1>
	<tr>
		<th>first name</th>
		<th>username</th>
		<th>user id
		<th>user email
	</tr>

	<tr>
		<TD>
			<%= @admin_users.username%>
		</td>

		<TD>
			<%= @admin_users.first_name%>
		</td>

		<TD>
			<%= @admin_users.id%>
		</td>

		<TD>
			<%= @admin_users.email%>
		</td>

	</tr>
</table>
