<% @main_title = "Current location details" %>

<div style="margin: auto; padding: 45px;">
<table style="position: fixed; top: 280px; line-height: 50px; text-align: left; width: 700px;">
  <tr>
    <th style="width:150px;">Facility</th>
    <td><%= @location.facility %></td>
  </tr>
  <tr>
    <th style="width:150px;">District</th>
    <td><%= @location.district %></td>  
  </tr>
  <tr>
    <th style="width:150px;">Description</th>
    <td style="vertical-align: top;"><%= @location.description %></td>
  </tr>
</table>
</div>
<br />
<div style="position: fixed; top: 550px; padding-left: 45px;">
  <%= link_to 'CHANGE DETAILS', edit_location_path(@location), :class => "button pvb" %>
</div>
